
/* Universal Style */

:root {
--yellow: hsl(51, 95%, 56%);
}

/* Background CAolor */

@keyframes rotate {
0% {
    filter: hue-rotate(0deg);
}
100% {
    filter: hue-rotate(360deg);
}
}

.main-bg {
    background: var(--yellow);
    height:100vh;
}

.hue-rotate {
    filter:hue-rotate(0deg);
    animation: rotate 120s infinite
}


/* Navigation / buttons */

.navigation-container {
    position: fixed;
    top:2rem;
    right:2rem;
    width:40px;
    z-index:1000;
    cursor: pointer;
}

.burger-menu {
    width:100%;
    transition: all 0.5s cubic-bezier(1, -0.02, 0.58, 1);
}

.rotate-menu {
    transform: rotate(90deg);
}

/* Menu */
.menu-cover {
    background: var(--yellow);
    width:100vw;
    height:100vh;
    width:0px;
    overflow: hidden;
    z-index:50;
    position:absolute;
    transition: all 0.3s cubic-bezier(1, -0.02, 0.58, 1);
    box-shadow:0px 0px 21px 1px rgba(0,0,0,0.5);
    filter:hue-rotate(0deg);
    animation: rotate 120s infinite
}

.show-menu {
    width:100vw;
}

.menu-left {
    height: 100vh;
    align-items: center;
    display: flex;
}

.main-content {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity:0;
}

.menu-item-wrapper {
    transform: translateX(0px);
    opacity:1;
    padding-left:5rem;
}


.menu-item {
    cursor: pointer;
    transition: all 0.1s cubic-bezier(1, -0.02, 0.58, 1);
}

.menu-text {
    transition: font-size 0.2s;
}

.menu-item:hover {
    transform: translateX(5px);
}

@keyframes show-links {
    0% {opacity:0; transform:translateX(-300px);}
    50% {opacity:1;}
    100% {opacity:1; transform:translateX(0px);}
}

@keyframes hide-links {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:0; transform:translateX(-300px);}
}

@keyframes show-content {
    0% {opacity:0; transform:translateX(-200px);}
    50% {opacity:0;}
    100% {opacity:1; transform:translateX(0px);}
}

@keyframes hide-content {
    0% {opacity:1;}
    10% {opacity:0;}
    100% {opacity:0; transform:translateX(-200px);}
}

.links-animator {
    animation: show-links 0.8s;
    animation-iteration-count: 1;
    --moz-animation-delay: 2s;
}

.links-hider {
    animation: hide-links 0.8s;
    animation-iteration-count: 1;
}

.active > h1 {
    font-size:4rem;
}


/* Content Styles */
.primary-row {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-img {
    max-width: 100%;
}

.title {
    font-size:4rem;
}

.sub-text {
    letter-spacing:2px;
}

.content-animator {
    animation: show-content 0.7s;
    animation-iteration-count: 1;
    --moz-animation-delay: 1s;
}

.content-hider {
    animation: hide-content 0.7s;
    animation-iteration-count: 1;
}

.content-animated {
    opacity:1;
}

.content-hidden {
    opacity:0;
}